button{
  background-color: lightgray;
  height: 30px;
  width: 100%;
}

.calculator-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.result-row{
  grid-column: span 4;
  border-style: solid;
  height: 30px;
  display: flex;
  align-items: center;

}

.zero-button{
  grid-column: span 2;
}

.result-box{
  font-family: Arial, Helvetica, sans-serif;
}