:root{
  --primary-color: rgb(211,211, 211);
  --secondary-color: rgb(107, 198, 228);
  --tertiary-color: rgb(159, 159, 159);
}


/* Styling for buttons */



button{
  background-color: var(--primary-color);
  height: 50px;
  font-size: 20px;
  width: 100%;
  border-style: none;
  color: black;
}



button:active{
  background-color: rgb(191, 191, 191);
}

/* Styling for specific button types */
.operation{ 
  background-color: var(--secondary-color);
}

.operation:active{
  background-color: rgb(87, 178, 208);
}

.special{
  background-color: var(--tertiary-color);
}

.special:active {
  background-color: rgb(139, 139, 139); 
}



.calculator-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;

}

.result-row{
  grid-column: span 4;
  border-style: solid;
  border-width: 1px;
  height: 50px;
  display: flex;
  align-items: center;
}

.zero-button{
  grid-column: span 2;
}

.result-box{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 20px;
}

/* Mobile Formatting */
@media (max-width: 480px) {
  button {
      height: 80px;
      font-size: 24px;
  }
  
  .result-row {
      height: 80px;
  }
  
  .result-box {
      font-size: 28px;
  }
  
  .calculator-grid {
      gap: 4px;
      padding: 8px;
  }
}